.container {
  background-color: aquamarine;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  list-style-type: disclosure-closed;
}
.nav-list {
  cursor: pointer;
}
.titleAnchorTag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100px;
  border: 1px solid;
  border-radius: 20px;
}
.body-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
  width: 100%;
}
.restaurant-card {
  border: 1px solid;
  padding: 8px;
  margin: 10px auto;
  border-radius: 10px;
  width: 200px;
}
.restaurant-card > img {
  width: 100%;
}
.search-container {
  padding: 10px;
}
.search-container > input {
  padding: 10px 2px;
}
.search-container > button {
  padding: 10px 2px;
  margin: auto 2px;
  border: 1px solid green;
  background-color: lightgreen;
}
.chip {
  background-color: aquamarine;
  padding: 2px;
  font-size: small;
  border-radius: 10px;
}
.user-login-items {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
  list-style-type: disclosure-closed;
  cursor: pointer;
}
.login {
  background-color: greenyellow;
  color: rgb(54, 7, 7);
  padding: 10px;
}
.logout {
  background-color: red;
  color: white;
  padding: 10px;
}
.restaurant-details-container {
  display: flex;
  justify-content: flex-start;
}
.restaurant-menu {
  width: 100%;
  padding: 0px 10px;
  background-color: rgb(179, 237, 189);
}
.menu-cart {
  background-color: bisque;
}
.git-profile {
  border: 1px solid;
  padding: 10px;
  background-color: blanchedalmond;
}
